
<h1>thanks for playing!</h1>

<p>
  be sure to ask about what we do&hellip; and how we built this game
</p>
<p>
	And if you tweet your score, ThoughtWorks will donate $1 to [CAUSE].
</p>
<button id="tweet">Tweet!</button>
<button id="done">No Thanks</button>